.head {
    background-color: #FFFFFF;
    float: left;
    display: inline-block;
    margin-bottom: 10px;
}
.nav {
    float: left;
    display: block;
}
#nav {
    font-family: 'Public Sans', sans-serif;
    text-align: center;
   
   
}
#nav li {
    display: inline-block;
    margin-left: 0px;
}
#nav li a {
    display: inline-block;
    margin-left: 0px;
    text-decoration: none;
    color: #AFAFAF;
    padding-top: 0px;
    padding-right: 7px;
    padding-bottom: 0px;
    padding-left: 7px;
}
#push {
    /* [disabled]margin-right: -16px; */
    margin-bottom: auto;
    padding-left: 8px;
    border-radius: 20px;
    background-image: -webkit-linear-gradient(270deg,rgba(15,216,188,0.90) 0%,rgba(112,132,251,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(15,216,188,0.90) 0%,rgba(112,132,251,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(15,216,188,0.90) 0%,rgba(112,132,251,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(15,216,188,0.90) 0%,rgba(112,132,251,1.00) 100%);
    padding-right: 8px;
    float: right;
    margin-left: 98px;
    color: #FAFAFA;
    text-decoration: none;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: small;
}
#logo {
    margin-left: 18px;
    padding-left: 9px;
    margin-right: 69px;
}
